apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: kobigdocker/week-16-test-api:v2
        ports:
        - containerPort: 8000
        env: 
        - name: MONGO_HOST
          value: "mongo-service"
        - name: MONGO_PORT
          value: 27017
        - name: MONGO_USERNAME
          value: "root"
        - name: MONGO_PASSWORD
          value: "example"
